.wrapper {
  text-align: center;
  height: 100%;
}

.skills {
  margin-top: 30px;
  padding-bottom: calc(16px + var(--bottom-menu-width));

  display: flex;
  flex-wrap: wrap;

  gap: 16px;

  &_container {
    width: 340px;
    margin: 0 auto;
  }
}
