.navigation {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.button {
    background-color: var(--fill_navigation);
    padding: 6px 0;
    padding-bottom: 10px;
    width: 67px;
    height: 38px;
    cursor: pointer;
    
    &_left {
        border-radius: 0 4px 4px 0;
        border-bottom: 2px solid #2A2B32;
        border-top: 2px solid #FFFFFF3B;


        &_wrapper {
            height: 41px;
            border-radius: 0 4px 4px 0;
            border: 1px solid #0C0B0D;
            border-width: 1px 1px 3px 0;
        }
    }

    &_right {
        border-radius: 4px 0 0 4px;
        border-bottom: 2px solid #2A2B32;
        border-top: 2px solid #FFFFFF3B;

        &_wrapper {

            height: 41px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #0C0B0D;
            border-width: 1px 0 3px 1px;
        }
    }
}

.icon {
    &_prev {
        width: 14px;
        margin-left: auto;
        margin-right: 15px;

    }
}