.wrapper {
  position: relative;
  width: 162px;
  height: 214px;
  will-change: contents;
  user-select: none;
}

.container {
  position: relative;
  padding: 30px 19px;
  text-align: start;
}

.fire {
  position: absolute;
  top: -9px;
  right: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  &_container {
    position: relative;
    width: 28px;
  }

  &_icon {
    position: absolute;
    width: 28px;
  }

  &_count {
    position: relative;
    margin-top: 22px;
    z-index: 1;
  }
}

.front_bg {
  position: absolute;
}

.title {
  color: var(--color);
}

.description {
  margin-top: 14px;
  color: var(--color_description);
  font-size: 11px !important;
  line-height: 130%;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
