@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #fff;

  --background: #1f1b24;

  --border_selected: #9472d0;

  --border: #7d7288;

  --gradient_default: linear-gradient(
    180deg,
    rgba(103, 86, 121, 1) 0%,
    rgba(77, 66, 90, 1) 100%
  );
  --gradient_selected: linear-gradient(
    180deg,
    rgba(119, 75, 195, 1) 0%,
    rgba(172, 125, 255, 1) 100%
  );
}

body,
html {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 350%;
  height: 300%;
  background-image: url("../shared/ui/images/background.png");
  background-size: 50% 50%;
  background-repeat: repeat;
  animation: moveBackground 100s linear infinite;
}

.layout {
  z-index: 1;
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
