.wrapper {
  --menu-height: 95px;

  width: 100%;
  height: var(--menu-height);

  z-index: var(--z_2);
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
}

.item {
  position: relative;
  background: var(--gradient_default);
  padding-top: 5px;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  border-top: 4px solid var(--border);

  &_label {
    position: absolute;
    bottom: 20px;
    z-index: var(--z_2);
  }

  &_border {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;

    &_left {
      left: 0px;
      background: rgb(36, 35, 47);
      background: linear-gradient(
        0deg,
        rgba(36, 35, 47, 1) 0%,
        rgba(61, 58, 83, 1) 100%
      );
    }
    &_right {
      z-index: 0;
      right: 0;
      background: rgb(132, 120, 149);
      background: linear-gradient(
        180deg,
        rgba(132, 120, 149, 1) 0%,
        rgba(61, 58, 83, 1) 100%
      );
    }
  }
}

.background {
  transition: 0.4s;
  z-index: var(--z_1);
  position: absolute;
  top: 0;
  left: 0;
  height: var(--menu-height);

  border-top: 4px solid var(--border_selected);
  background: var(--gradient_selected);
}

.icon {
  z-index: var(--z_2);

  &_active {
    transition: 0.2s;
    transform: scale(1.2) translateY(-18%);
  }
}

.label {
  max-width: 100%;
  color: var(--color);
  font-size: 10px;
  display: none;

  &_active {
    display: block;
  }
}
