.fake {
  height: var(--header-width);
}

.wrapper {
  position: fixed;
  width: 100%;
  height: var(--header-width);
  z-index: var(--z_2);

  padding: 16px;
  padding-bottom: 28px;
}

.container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news_icon {
  width: 64px;
  height: 32px;
}

.coins {
  position: relative;
  width: 80px;
  height: 22px;
  border-radius: 4px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;

  &_icon {
    position: absolute;
    top: -3.5px;
    left: -10px;
    width: 28px;
    height: 28px;
  }

  &_count {
    color: var(--color);
    text-align: end;
    margin-top: 2px;
  }
}
